html {
  // --color-red: #D7303A;
  // --color-green: #4ac165;
  // --color-yellow: #C7BD1C;

  --color-white: #ffffff;
  --color-black: #141312;
  --color-text-dark: #101010;
  --color-off-white: #fafafb;

  --color-gray: #ebebeb;
  --color-light-gray: #f6f6f6;
  --color-dark-gray: #9a9a9a;
  --color-text-muted: #c3c3c3;
  --color-text-dim: #c0c0c0;
  --color-text-secondary: #c4c4c4;
  --color-indicator: #d7d7d7;

  --color-footer-muted: #a6a6a6;

  --color-surface-dark: #28272c;
  --color-surface-darker: #1f1f1f;
  --color-surface-mid: #575757;

  --color-primary: #c9a96e;

  --color-background: #141312;
  --color-background-rgb: 20, 19, 18;
  --color-text: #ffffff;
  --color-block: #f6f6f6;
  --color-border: #595550;
  --color-border-dark: #2d2d2d;

  --color-glass-bg: rgba(44, 44, 44, 0.5);
  --color-glass-border: rgba(46, 46, 46, 0.5);

  // --color-translucent-15-red: rgba(199, 62, 28, 0.15);
  // --color-translucent-15-yellow: rgba(199, 188, 28, 0.15);
  // --color-translucent-15-green: rgba(59, 208, 89, 0.15);
  // --color-translucent-15-second-accent: rgba(20, 69, 61, 0.15);
  // --color-translucent-15-accent: rgba(253, 13, 13, 0.10);
}
